.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  border-radius: 15px;
  border: 1px solid #000;
  background-color: #030159;
  color: #fff;
  padding: 20px 25px;
  width: 70%;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 500;
  font-size: 18px;
}

.button:hover {
  background-color: #020136;
}
